*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-image:url(images/pexels-photo-255379.webp) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.container{

justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
} 

/* background:linear-gradient(45deg, #43cbff,#9708cc); */